
body {
  background: #f7f7f7;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h2 {
  margin-top: 40px;
}

form {
  padding-top: 10px;
  background: #fff;
  width: 600px;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding-bottom: 7px;
}

form h3 {
  text-align: center;
}

input {
  width: 500px;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.row input[type="url"] {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  flex: 1;
  max-width: 360px;
}

.row button {
  padding: 15px ;
  background: #007bff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 130px; 
margin-bottom: 15px;
}


/* Section projets */

/* h4{
  text-align: left;
  font-size: 20px;
  justify-content: center;
  display: flex;

} */
.projects{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
  margin-top: 24px;
  justify-content: center;
  height: 340px;


}
.card {
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card .title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
 
}

.card .texte {
  font-size: 14px;
  
  margin: 10px;
}

.delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
